
.text{
    font-size: 30px;
    margin: 0;
    font-family:"Oswald",sans-serif ;
    
}
.square button {
    color: orange;
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    background-color: rgb(255, 255, 255);
   
  }
.btn-group {
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    display: flex;
}
.btn-group button:not(:last-child) {
    border-right: none;
    display: flex;
}
.btn-group:after {
    content: "";
    clear: both;
    display: flex;
}
.cvet {
    color:rgb(160, 159, 159) ;
}
.knopka_2 {
    background-color: orange;
    color: white;

}